<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitflaker.lucidsourcekit">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pure"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pure_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LucidSourceKit.Dark">
        <activity
            android:name=".AlarmCreator"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlarmsManager"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.dreamjournal.DreamJournalEntryEditor"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".main.EditGoals"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setup.SetupViewer"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainViewer"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setup.SetupGetStarted"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>